__debug_bin
*.exe
*.swp
www/
kwe_ockert
kwe_ockert.go
__debug_bin
__debug_bin.conf.js
.vscode/launch.json
run
build
kwe
kwe.000
kwe.001
kwe2
kwe2.000
kwe2.conf.js
kwe_ockert.000
kwe_ockert.upx
page.html
servedoc
test.json
tststdin.txt
