__debug_bin
kwe.exe
*.swp
upx.exe
www/
kwe_ockert
kwe_ockert.go
*__debug_bin*.*
.vscode/launch.json
run
buildkwe
kwe
kwe.000
kwe.001
kwe2
kwe2.000
kwe2.conf.js
kwe_ockert.000
kwe_ockert.upx
page.html
servedoc
test.json
tststdin.txt
__debug_bin.conf.js
__debug_bin.init.js
